# Phase 1 Code Challenge Review

![let's do this](https://media.giphy.com/media/12WPxqBJAwOuIM/giphy.gif)

The topics covered will be:

  - [Interacting with Pandas dataframes](#dataframes)
  - [Visualization](#viz)
  - [Python Data Structures](#datastructures)

In [1]:
# My function to call on y'all
from src.call import call_on_students
import numpy as np

<a id='dataframes'></a>
# Part 1: Interacting with Pandas DataFrames

To practice working with dataframes, we will use some Facebook data taken from the UCI Machine Learning repository.

Refer to this paper if you are interested in learning more. There is also a nice description of the features: http://www.math-evry.cnrs.fr/_media/members/aguilloux/enseignements/m1mint/moro2016.pdf

In [2]:
# Before anything else - need to import pandas!
import pandas as pd

## Task 1: Read in the data

In [3]:
# Can explore the data folder within your notebook
!dir

 Volume in drive C is OS
 Volume Serial Number is 8EF7-A13E

 Directory of C:\Users\Jackson\Documents\flatiron\NTL-DS-080723\code challenge practice

08/17/2023  08:11 PM    <DIR>          .
08/17/2023  08:09 PM    <DIR>          ..
08/17/2023  08:11 PM    <DIR>          .ipynb_checkpoints
08/17/2023  08:09 PM    <DIR>          data
08/17/2023  08:09 PM            18,045 P1-Code-Challenge-Review.ipynb
08/17/2023  07:52 PM           275,014 P1-Code-Challenge-Review_solution.ipynb
08/17/2023  08:08 PM            35,269 Phase1_CC_Review.zip
08/17/2023  08:12 PM    <DIR>          src
               3 File(s)        328,328 bytes
               5 Dir(s)  32,684,294,144 bytes free

In [25]:
cd data

C:\Users\Jackson\Documents\flatiron\NTL-DS-080723\code challenge practice\data

Read 'dataset_Facebook.csv' from the data foldeer into the notebook as a Pandas dataframe.

Note: we'll need to set a different delimiter here - let's read the data in, then explain what that means.

In [26]:
# Your code here
df = pd.read_csv('dataset_Facebook.csv', delimiter=';')

## Task 2: Explore the data

### 2a: Look at the first five rows of the dataframe, then the last ten rows

In [29]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [30]:
df.tail()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

### 2b: Look at the information for each column in the dataframe, then describe what you notice

What do you notice?

-

### 2c: Describe the dataframe's numeric columns, then describe what you notice

In [44]:
df.dtypes

Page total likes                                                         int64
Type                                                                    object
Category                                                                 int64
Post Month                                                               int64
Post Weekday                                                             int64
Post Hour                                                                int64
Paid                                                                   float64
Lifetime Post Total Reach                                                int64
Lifetime Post Total Impressions                                          int64
Lifetime Engaged Users                                                   int64
Lifetime Post Consumers                                                  int64
Lifetime Post Consumptions                                               int64
Lifetime Post Impressions by people who have liked your Page             int64
Lifetime Post reach by people who like your Page                         int64
Lifetime People who have liked your Page and engaged with your post      int64
comment                                                                  int64
like                                                                   float64
share                                                                  float64
Total Interactions                                                       int64
dtype: object

What do you notice?

-

## Task 3: Explore null values

### 3a: Count how many null values there are in each column

In [ ]:
call_on_students(1)

In [50]:
df.isna().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   1
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   1
share                                                                  4
Total Interactions                                                     0
dtype: int64

### 3b: What are some of the things we could do to deal with null values?

Answer:

-

### 3c: Drop records that have null values in the `share` column

In [52]:
df.dropna(subset=['share'], inplace=True)

In [53]:
df.isna().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   1
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   0
share                                                                  0
Total Interactions                                                     0
dtype: int64

## Task 4: Create a column

An "impression" counts each time a post is displayed.  

Create a new column called `likes_per_impression` which divides the number of likes per post by the number of impressions per post.

In [54]:
df['likes_per_impression'] = df['like'] / df['Lifetime Post Total Impressions']

## Task 5: Multiply `likes_per_impression` by 100 so they look like percentages

Make a new column for this, `likes_per_impression_perc`, to capture this output.

In [60]:
#df['likes_per_impression'] = df['likes_per_impression'] / 100

In [62]:
df.shape

(496, 20)

## Task 6: How many examples of each type of post?

I'm seeing a lot of posts with the type of 'Photo' - are there other post types, and what's the breakdown?

In [ ]:
# Can also look at the percentages

## Task 7: Find the five Photos with the highest likes/impression ratio

Find the five **Photos** with the highest number in our new `likes_per_impression_perc` column

In [ ]:
# call_on_students(1)

In [ ]:
# Your code here

## Task 8: Find the most liked Photo

Locate the **Photo** that has the largest amount of likes in the `like` column

In [ ]:
# call_on_students(1)

In [ ]:
# Your code here

## Task 9: Find the average

What is the mean number of Total Interactions for **Photos**?

In [ ]:
# call_on_students(1)

In [ ]:
# Your code here

<a id='viz'></a>
# Part 2: Visualization

In [ ]:
# Need more imports!

## Task 10: Bar Chart

Create a bar chart showing the number of posts per month.

Order the x-axis by month as they appear on the calendar.

Don't forget to add labels and a title.  

Use the `plt.subplot` method if you can, but if you can't, resort to the `plt` syntax.

In [ ]:
# call_on_students(1)

In [ ]:
# Your code here
# First need to access the number of posts per month

In [ ]:
# Your code here
# Now need to visualize

Let's discuss: what do you notice?

-

## Task 11: Scatter Plot

Create a scatter plot that shows the correlation between total interactions and likes.

In [ ]:
# call_on_students(1)

In [ ]:
# Your code here

Let's discuss: what do you notice?

-

<a id='datastructures'></a>
# Part 3: Data Structures

For this next section, we will explore a nested dictionary that comes from the Spotify API.  You won't need to do these kinds of imports and opens on the code challenge, so I'll go ahead and share the code to get started here.

The `data` variable below contains 6 separate pings, each of which returns a list of the top 20 songs streamed on a given day.

In [ ]:
# First we need some imports
import json
import pickle

In [ ]:
# Let's open the pickled file
with open('data/offset_newreleases.p','rb') as read_file:
    responses = pickle.load(read_file)

In [ ]:
data = [json.loads(r) for r in responses]

In [ ]:
# Sanity check - we said there would be 6 pings, are there?
len(data)

We will work only with the first response.

In [ ]:
first_response = data[0]

In [ ]:
first_response

## Task 12: Navigate the dictionary

Explore the `first_response` dictionary and find how to access the items list, which contains the details about the twenty songs. Assign the list to the variable `first_twenty_songs`.

Hint: print out the keys at each level with .keys().

In [ ]:
# call_on_students(1)

In [ ]:
# Your code here

## Task 13: Loop to List

Create a list of **track names** of all twenty songs using a for loop or list comprehension.

In [ ]:
# call_on_students(1)

In [ ]:
# Your code here

## Task 14: Create a new dictionary

Create a dictionary called `song_dictionary` which consists of each track name `string` as a key and a `tuple` of artists associated with each track as a value.

In [ ]:
# call_on_students(1)

In [ ]:
# Your code here:

## Task 15: Write a function

Create a function with takes an **artist name** and the **song_dictionary** as arguments, and returns a `list` of songs written by that artist.

In [ ]:
# call_on_students(1)

In [ ]:
# Easier to do things outside of a function first
# Let's try for The Weeknd

In [ ]:
# Your code here

def find_song_by_artist(artist_name, song_dict):
    
    '''
    Parameters:
    arist_name: a string of an artist's name to be used to search the dictionary
    song_dict:  a dictionary of top_twenty songs with song name as keys and a list of 
    artist names as values
    
    Returns:
    A list of songs which the given artist appeared on
    '''
    
    pass

In [ ]:
# Test the function:
find_song_by_artist('Selena Gomez', song_dictionary)