# Demo Code Challenge 

This demo is designed to give you the experience of a Code Challenge before your official Code Challenge.
 
*Read the instructions carefully.* Your code will need to meet detailed specifications to pass automated tests.

## Code Tests

We have provided some code tests for you to run to check that your work meets the item specifications. Passing these tests does not necessarily mean that you have gotten the item correct - there are additional hidden tests. However, if any of the tests do not pass, this tells you that your code is incorrect and needs changes to meet the specification. To determine what the issue is, read the comments in the code test cells, the error message you receive, and the item instructions.

## 1) Read `titanic.csv` into a pandas DataFrame named `df`

Use pandas to create a new DataFrame, called `df`, containing the data from the dataset in the file `titanic.csv` in the folder containing this notebook. 

Hint: Use the string `'./titanic.csv'` as the file reference.

In [1]:
# Run this cell without changes

import pandas as pd
import numpy as np
from numbers import Number
import warnings
warnings.filterwarnings('ignore')

In [3]:
# CodeGrade step1
# Replace None with appropriate code

df = pd.read_csv('./titanic.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
# This test confirms that you have created a DataFrame named df

assert type(df) == pd.DataFrame

### 2) Create a variable `dogwood_index` containing the index for the `'dogwood'` element from the list `tree_type_names`

Below is the list `tree_type_names` that you will need - do not change this list.

In [5]:
# Run this cell without changes

tree_type_names = ['linden', 'spruce', 'dogwood', 'hickory', 'willow']

In [14]:
# CodeGrade step2
# Replace None with appropriate code

dogwood_index = 2

In [15]:
# This test confirms that you have created a numeric variable named dogwood_index

assert isinstance(dogwood_index, Number)

## 3)  Briefly explain the purpose of code challenges in the Flatiron School Data Science program.

Enter a one sentence response below.

In [17]:
# Your answer here
"""The purpose of the code challenging is to prepare us for assessments 
and help us to write code under a little bit of time pressure."""

'The purpose of the code challenging is to prepare us for assessments \nand help us to write code under a little bit of time pressure.'