<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Objectives" data-toc-modified-id="Objectives-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#What-is-Pandas?" data-toc-modified-id="What-is-Pandas?-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>What is Pandas?</a></span><ul class="toc-item"><li><span><a href="#Accessing-Data" data-toc-modified-id="Accessing-Data-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Accessing Data</a></span></li><li><span><a href="#DataFrames-and-Series" data-toc-modified-id="DataFrames-and-Series-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>DataFrames and Series</a></span></li><li><span><a href="#More-Basic-DataFrame-Attributes-and-Methods" data-toc-modified-id="More-Basic-DataFrame-Attributes-and-Methods-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>More Basic DataFrame Attributes and Methods</a></span><ul class="toc-item"><li><span><a href="#.head()-:-first-5-rows" data-toc-modified-id=".head()-:-first-5-rows-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span><code>.head()</code> : first 5 rows</a></span></li><li><span><a href="#.tail()-:-last-5-rows" data-toc-modified-id=".tail()-:-last-5-rows-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span><code>.tail()</code> : last 5 rows</a></span></li><li><span><a href="#.info()-:-information-about-the-columns,-including-about-nulls-in-those-columns" data-toc-modified-id=".info()-:-information-about-the-columns,-including-about-nulls-in-those-columns-2.3.3"><span class="toc-item-num">2.3.3&nbsp;&nbsp;</span><code>.info()</code> : information about the columns, including about nulls in those columns</a></span></li><li><span><a href="#.describe()-:-statistics-about-the-data" data-toc-modified-id=".describe()-:-statistics-about-the-data-2.3.4"><span class="toc-item-num">2.3.4&nbsp;&nbsp;</span><code>.describe()</code> : statistics about the data</a></span></li><li><span><a href="#.dtypes-:-data-types-of-each-column" data-toc-modified-id=".dtypes-:-data-types-of-each-column-2.3.5"><span class="toc-item-num">2.3.5&nbsp;&nbsp;</span><code>.dtypes</code> : data types of each column</a></span></li><li><span><a href="#.shape-:-number-of-rows-and-columns" data-toc-modified-id=".shape-:-number-of-rows-and-columns-2.3.6"><span class="toc-item-num">2.3.6&nbsp;&nbsp;</span><code>.shape</code> : number of rows and columns</a></span></li><li><span><a href="#Statistics" data-toc-modified-id="Statistics-2.3.7"><span class="toc-item-num">2.3.7&nbsp;&nbsp;</span>Statistics</a></span></li></ul></li><li><span><a href="#Enough-With-The-Small-Stuff---Bring-On-Real-Data!" data-toc-modified-id="Enough-With-The-Small-Stuff---Bring-On-Real-Data!-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Enough With The Small Stuff - Bring On Real Data!</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Any-Observations?" data-toc-modified-id="Any-Observations?-2.4.0.1"><span class="toc-item-num">2.4.0.1&nbsp;&nbsp;</span>Any Observations?</a></span></li></ul></li></ul></li><li><span><a href="#Adding-to-a-DataFrame" data-toc-modified-id="Adding-to-a-DataFrame-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Adding to a DataFrame</a></span><ul class="toc-item"><li><span><a href="#Adding-Rows" data-toc-modified-id="Adding-Rows-2.5.1"><span class="toc-item-num">2.5.1&nbsp;&nbsp;</span>Adding Rows</a></span></li></ul></li><li><span><a href="#Adding-(and-Deleting)-Columns" data-toc-modified-id="Adding-(and-Deleting)-Columns-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Adding (and Deleting) Columns</a></span><ul class="toc-item"><li><span><a href="#DateTime-Data!" data-toc-modified-id="DateTime-Data!-2.6.1"><span class="toc-item-num">2.6.1&nbsp;&nbsp;</span>DateTime Data!</a></span></li></ul></li></ul></li><li><span><a href="#Filtering" data-toc-modified-id="Filtering-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Filtering</a></span><ul class="toc-item"><li><span><a href="#.loc" data-toc-modified-id=".loc-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span><code>.loc</code></a></span><ul class="toc-item"><li><span><a href="#Your-turn!" data-toc-modified-id="Your-turn!-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Your turn!</a></span><ul class="toc-item"><li><span><a href="#Exercise-1" data-toc-modified-id="Exercise-1-3.1.1.1"><span class="toc-item-num">3.1.1.1&nbsp;&nbsp;</span>Exercise 1</a></span></li><li><span><a href="#Exercise-2" data-toc-modified-id="Exercise-2-3.1.1.2"><span class="toc-item-num">3.1.1.2&nbsp;&nbsp;</span>Exercise 2</a></span></li></ul></li></ul></li><li><span><a href="#.iloc" data-toc-modified-id=".iloc-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span><code>.iloc</code></a></span></li></ul></li><li><span><a href="#Series-Methods" data-toc-modified-id="Series-Methods-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Series Methods</a></span><ul class="toc-item"><li><span><a href="#.value_counts()" data-toc-modified-id=".value_counts()-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span><code>.value_counts()</code></a></span></li><li><span><a href="#.sort_values()" data-toc-modified-id=".sort_values()-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span><code>.sort_values()</code></a></span></li></ul></li><li><span><a href="#Extra-Credit:-Find-a-.csv-file-online-and-experiment-with-it." data-toc-modified-id="Extra-Credit:-Find-a-.csv-file-online-and-experiment-with-it.-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Extra Credit: Find a .csv file online and experiment with it.</a></span></li></ul></div>

![pandas](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2880px-Pandas_logo.svg.png)

# Objectives

- Load .csv files into `pandas` DataFrames
- Describe and manipulate data in Series and DataFrames

# What is Pandas?

![I have no idea what I'm doing panda](https://cdn-images-1.medium.com/max/1600/1*oBx032ncOwLmCFX3Epo3Zg.jpeg)

Just kidding - not actual literal pandas.

Pandas, as [the Anaconda docs](https://docs.anaconda.com/anaconda/packages/py3.7_osx-64/) tell us, offers us "High-performance, easy-to-use data structures and data analysis tools." It's something like "Excel for Python", but it's quite a bit more powerful. The name comes from "panel data", a common way to describe the kind of multidimensional data we'll be working with in certain academic circles (namely, statistics and econometrics) [[Source]](https://www.dlr.de/sc/Portaldata/15/Resources/dokumente/pyhpc2011/submissions/pyhpc2011_submission_9.pdf)

In order to use pandas, we'll need to import it into our notebook first.

pandas = advanced excel

In [3]:
# Import - using the common alias
import pandas as pd

## Accessing Data

![pandas documentation image showcasing the kinds of data it can both read and write to](https://pandas.pydata.org/docs/_images/02_io_readwrite.svg)

[[Image Source]](https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html)

Pandas can access a ton of different data types, including some that should be familiar: CSVs and JSONs! That's right, no more `with` / `open` statements now that we're using pandas!

Most of the time, we'll see CSVs - so let's access a 'toy' data set quickly just to familiarize ourselves with using pandas. There's a heart dataset available in the data folder on this repository - let's read that in.

In [4]:
# Use read_csv to read in the heart csv file
# Need to assign it to a variable too - let's call this heart_df
!ls data

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [7]:
df = pd.read_csv('data/heart.csv')

The output of the `.read_csv()` function is a pandas *DataFrame*, which has a familiar tabaular structure of rows and columns.

In [8]:
# Let's check this variable out
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [11]:
# What type is this variable?
type(df)

pandas.core.frame.DataFrame

In [ ]:
#dataframe versus series --> series if one dimensional

In [15]:
df[['age', 'sex']]

     age  sex
0     63    1
1     37    1
2     41    0
3     56    1
4     57    0
..   ...  ...
298   57    0
299   45    1
300   68    1
301   57    1
302   57    0

[303 rows x 2 columns]

## DataFrames and Series

Two main types of pandas objects are the DataFrame and the Series, the latter being in effect a single column of the former:

In [17]:
# Let's grab just one column
#need to do it in square brackets for lock statements. can do df.age for quick 
df['age']

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64

Notice how we can isolate a column of our DataFrame simply by using square brackets together with the name of the column. We can also access columns as an attribute of the DataFrame - but that only works if the name of the column doesn't have any spaces or weird characters!

In [19]:
# What type is the column?
type(df['age'])

pandas.core.series.Series

Both Series and DataFrames have an *index* as well:

In [20]:
# Check out the dataframe index
#index is essentially the row number
df.index

RangeIndex(start=0, stop=303, step=1)

In [21]:
# Check out the series index
len(df['age'])

303

In [23]:
df.age.index #give me the index

RangeIndex(start=0, stop=303, step=1)

DataFrames have columns - but a Series is just a single column, so it doesn't have the columns attribute.

In [24]:
# Check out the dataframe columns
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [28]:
# Now try with the series
df[['age']].columns

Index(['age'], dtype='object')

Pandas is built on top of NumPy, and we can always access the NumPy array underlying a DataFrame using `.values`.

In [30]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [29]:
# Check out the dataframe values
df.values

array([[63.,  1.,  3., ...,  0.,  1.,  1.],
       [37.,  1.,  2., ...,  0.,  2.,  1.],
       [41.,  0.,  1., ...,  0.,  2.,  1.],
       ...,
       [68.,  1.,  0., ...,  2.,  3.,  0.],
       [57.,  1.,  0., ...,  1.,  3.,  0.],
       [57.,  0.,  1., ...,  1.,  2.,  0.]])

## More Basic DataFrame Attributes and Methods

### `.head()` : first 5 rows

In [34]:
df.head(20)
#will automatically be 5 without a #

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1
10,54,1,0,140,239,0,1,160,0,1.2,2,0,2,1
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
12,49,1,1,130,266,0,1,171,0,0.6,2,0,2,1
13,64,1,3,110,211,0,0,144,1,1.8,1,0,2,1
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1
15,50,0,2,120,219,0,1,158,0,1.6,1,0,2,1
16,58,0,2,120,340,0,1,172,0,0.0,2,0,2,1
17,66,0,3,150,226,0,1,114,0,2.6,0,0,2,1
18,43,1,0,150,247,0,1,171,0,1.5,2,0,2,1
19,69,0,3,140,239,0,1,151,0,1.8,2,2,2,1

### `.tail()` : last 5 rows

In [36]:
df.tail(20)
#will automatically be 5 without a #

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
283,40,1,0,152,223,0,1,181,0,0.0,2,0,3,0
284,61,1,0,140,207,0,0,138,1,1.9,2,1,3,0
285,46,1,0,140,311,0,1,120,1,1.8,1,2,3,0
286,59,1,3,134,204,0,1,162,0,0.8,2,2,2,0
287,57,1,1,154,232,0,0,164,0,0.0,2,1,2,0
288,57,1,0,110,335,0,1,143,1,3.0,1,1,3,0
289,55,0,0,128,205,0,2,130,1,2.0,1,1,3,0
290,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
291,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
292,58,0,0,170,225,1,0,146,1,2.8,1,2,1,0
293,67,1,2,152,212,0,0,150,0,0.8,1,0,3,0
294,44,1,0,120,169,0,1,144,1,2.8,0,0,1,0
295,63,1,0,140,187,0,0,144,1,4.0,2,2,3,0
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
297,59,1,0,164,176,1,0,90,0,1.0,1,2,1,0
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

### `.info()` : information about the columns, including about nulls in those columns

In [37]:
#VERY IMPORTANT! what is this information about the dataframe. shows datatype for columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

### `.describe()` : statistics about the data

In [38]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

### `.dtypes` : data types of each column

In [41]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

### `.shape` : number of rows and columns

In [42]:
df.shape

(303, 14)

### Statistics

We saw them above, in the `.describe`, but we can also calculate statistics by calling them individually.

In [47]:
# Calculate the mean - for the whole dataframe!
df['age'].std()

9.082100989837857

Let's pause and interpret - any observations?

-

In [48]:
# Now min
df['age'].min()

29

In [49]:
# And max
df['age'].max()

77

## Enough With The Small Stuff - Bring On Real Data!

Let's access an open data portal and get some real live data!

Austin Animal Center Intake Data: https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm/

In [61]:
!dir data

 Volume in drive C is OS
 Volume Serial Number is 8EF7-A13E

 Directory of C:\Users\Jackson\Desktop\NTL-DS-080723\1phase\data

08/10/2023  09:50 AM    <DIR>          .
08/11/2023  01:23 PM    <DIR>          ..
08/10/2023  09:50 AM             2,062 2019_Census_US_Population_Data_By_State_Lat_Long.csv
08/10/2023  09:50 AM        19,221,580 Austin_Animal_Center_Intakes-clean-year.csv
08/10/2023  09:50 AM        20,596,823 Austin_Animal_Center_Intakes_022822.csv
08/10/2023  09:50 AM        17,532,272 Austin_Animal_Center_Outcomes_022822.csv
08/10/2023  09:50 AM         1,521,008 BankChurners.csv
08/10/2023  09:50 AM         1,057,295 bundesliga.csv
08/10/2023  09:50 AM           164,902 classic-rock-song-list.csv
08/10/2023  09:50 AM         7,047,260 Datafiniti_Fast_Food.csv
08/10/2023  09:50 AM               101 ds_chars.csv
08/10/2023  09:50 AM            11,328 heart.csv
08/10/2023  09:50 AM            31,984 new_releases.json
08/10/2023  09:50 AM        15,638,996 OpenFoodFacts.csv
08/10/2023  09:50 AM         1,137,316 plants.json
08/10/2023  09:50 AM             2,848 pop_soda_data.csv
08/10/2023  09:50 AM               103 preferences.csv
08/10/2023  09:50 AM               136 states.csv
              16 File(s)     83,966,014 bytes
               2 Dir(s)  26,940,620,800 bytes free

In [57]:
intakes_url = pd.read_json('https://data.austintexas.gov/resource/wter-evkm.json')
intakes_url

,animal_id,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,name
0,A665644,2013-10-21 07:59:00,2013-10-21T07:59:00.000,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN
1,A665739,2013-10-22 11:11:00,2013-10-22T11:11:00.000,Austin (TX),Stray,Normal,Cat,Intact Female,1 month,Domestic Medium Hair Mix,Black,*Alana
2,A665763,2013-10-22 15:10:00,2013-10-22T15:10:00.000,E Riverside Dr/Royal Crest Dr in Austin (TX),Stray,Normal,Dog,Intact Male,4 months,Cairn Terrier Mix,Tan/White,NaN
3,A379998,2013-10-23 11:42:00,2013-10-23T11:42:00.000,51St And Grover in Austin (TX),Stray,Normal,Dog,Intact Male,10 years,Pit Bull,Black,Disciple
4,A634503,2013-10-01 14:49:00,2013-10-01T14:49:00.000,Manor (TX),Owner Surrender,Normal,Dog,Spayed Female,2 years,Norfolk Terrier Mix,Tan,Otter
...,...,...,...,...,...,...,...,...,...,...,...,...
995,A664268,2013-10-01 12:05:00,2013-10-01T12:05:00.000,Austin (TX),Stray,Normal,Cat,Intact Female,3 years,Russian Blue Mix,Blue,*Kochka
996,A656696,2013-10-13 12:52:00,2013-10-13T12:52:00.000,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,2 years,Domestic Shorthair Mix,Brown Tabby,*Angel
997,A665285,2013-10-15 18:19:00,2013-10-15T18:19:00.000,4807 Airport Blvd in Austin (TX),Stray,Normal,Cat,Intact Female,5 months,Domestic Shorthair Mix,Torbie,Tabby
998,A665185,2013-10-14 18:32:00,2013-10-14T18:32:00.000,Hwy 183/Burnet Rd in Austin (TX),Stray,Normal,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Brown Tabby/White,*Vince
999,A665572,2013-10-19 14:09:00,2013-10-19T14:09:00.000,900 Broken Feather Trl in Pflugerville (TX),Stray,Normal,Dog,Intact Male,1 year,Great Pyrenees Mix,White,NaN

In [59]:
# Same as the JSON output from this API endpoint, but different levels of detail for dates!
intakes_url.shape

(1000, 12)

In [ ]:
# But this is only 1000 rows... website says there's 136K rows!

In [60]:
# It's a limitation of the API - let's just download the data instead
# It's in the data folder
intakes_url = pd.read_csv('data/Austin_Animal_Center_intakes-clean-year.csv')

In [63]:
# Now let's explore those earlier attributes and methods on this dataset!
# Check the first 5 rows
intakes_url.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [65]:
# Check the last 5 rows
intakes_url.tail()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
136758,A852238,A852238,2022-02-28 14:02:00,2022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix,Black/White
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream

In [66]:
# Check the shape
intakes_url.shape

(136763, 12)

In [67]:
# Check the datatypes
intakes_url.dtypes

Animal ID           object
Name                object
DateTime            object
Year                 int64
Found Location      object
Intake Type         object
Intake Condition    object
Animal Type         object
Sex upon Intake     object
Age upon Intake     object
Breed               object
Color               object
dtype: object

In [68]:
# Check more general information on the dataframe
intakes_url.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136763 entries, 0 to 136762
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         136763 non-null  object
 1   Name              95772 non-null   object
 2   DateTime          136763 non-null  object
 3   Year              136763 non-null  int64
 4   Found Location    136763 non-null  object
 5   Intake Type       136763 non-null  object
 6   Intake Condition  136763 non-null  object
 7   Animal Type       136763 non-null  object
 8   Sex upon Intake   136762 non-null  object
 9   Age upon Intake   136763 non-null  object
 10  Breed             136763 non-null  object
 11  Color             136763 non-null  object
dtypes: int64(1), object(11)
memory usage: 12.5+ MB

In [69]:
# Check summary/descriptive statistics on the dataframe
intakes_url.describe()

                Year
count  136763.000000
mean     2017.100692
std         2.328994
min      2013.000000
25%      2015.000000
50%      2017.000000
75%      2019.000000
max      2022.000000

#### Any Observations?

-

## Adding to a DataFrame

### Adding Rows

We have a new animal coming in, captured here in a Python dictionary:

In [70]:
# Dictionary, where keys match the column names and values are the row values
next_row = {'Animal ID': 'A851755',
            'Name': "T'Challa",
            'DateTime': '2/28/2022 11:25:00 AM',
            'MonthYear': 'February 2022',
            'Found Location': 'Houston (TX)',
            'Intake Type': 'Public Assist',
            'Intake Condition': 'Normal',
            'Animal Type': 'Cat',
            'Sex upon Intake': 'Neutered Male',
            'Age upon Intake': '4 years',
            'Breed': 'Domestic Shorthair',
            'Color': 'Black'}
next_row

{'Animal ID': 'A851755',
 'Name': "T'Challa",
 'DateTime': '2/28/2022 11:25:00 AM',
 'MonthYear': 'February 2022',
 'Found Location': 'Houston (TX)',
 'Intake Type': 'Public Assist',
 'Intake Condition': 'Normal',
 'Animal Type': 'Cat',
 'Sex upon Intake': 'Neutered Male',
 'Age upon Intake': '4 years',
 'Breed': 'Domestic Shorthair',
 'Color': 'Black'}

How can we add this to the bottom of our dataset?

In [78]:
# Let's first turn this into a DataFrame.
# We can use the .from_dict() method.
new_animal = pd.DataFrame.from_dict(next_row, orient = 'index').T
new_animal

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A851755,T'Challa,2/28/2022 11:25:00 AM,February 2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black

In [79]:
intakes_url

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray
...,...,...,...,...,...,...,...,...,...,...,...,...
136758,A852238,A852238,2022-02-28 14:02:00,2022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix,Black/White
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream

In [82]:
pd.concat([intakes_url,new_animal], axis = 0)

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear
0,A786884,*Brock,2019-01-03 16:19:00,2019.0,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN
1,A706918,Belle,2015-07-05 12:59:00,2015.0,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN
2,A724273,Runster,2016-04-14 18:43:00,2016.0,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN
3,A665644,NaN,2013-10-21 07:59:00,2013.0,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN
4,A682524,Rio,2014-06-29 10:38:00,2014.0,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,2022.0,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN
136760,A851977,*Jack,2022-02-22 13:34:00,2022.0,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN
136761,A852127,Sonic,2022-02-25 13:05:00,2022.0,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN
136762,A852194,Queen,2022-02-27 13:44:00,2022.0,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN
0,A851755,T'Challa,2/28/2022 11:25:00 AM,NaN,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022

In [87]:
# Now we just need to concatenate the two DataFrames together.
# Note the `ignore_index` parameter! We'll set that to True.
animals = pd.concat([intakes_url,new_animal], ignore_index = True)
animals

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear
0,A786884,*Brock,2019-01-03 16:19:00,2019.0,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN
1,A706918,Belle,2015-07-05 12:59:00,2015.0,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN
2,A724273,Runster,2016-04-14 18:43:00,2016.0,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN
3,A665644,NaN,2013-10-21 07:59:00,2013.0,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN
4,A682524,Rio,2014-06-29 10:38:00,2014.0,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,2022.0,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN
136760,A851977,*Jack,2022-02-22 13:34:00,2022.0,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN
136761,A852127,Sonic,2022-02-25 13:05:00,2022.0,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN
136762,A852194,Queen,2022-02-27 13:44:00,2022.0,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN
136763,A851755,T'Challa,2/28/2022 11:25:00 AM,NaN,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022

## Adding (and Deleting) Columns

Adding a column is very easy in `pandas`. Let's add a new column to our dataset called "test", and set all of its values to 0.

In [89]:
# Create a new column, 'test', where every value in the col is 0
animals['test'] = 0

In [92]:
# Sanity check
animals

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,test
0,A786884,*Brock,2019-01-03 16:19:00,2019.0,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN,0
1,A706918,Belle,2015-07-05 12:59:00,2015.0,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN,0
2,A724273,Runster,2016-04-14 18:43:00,2016.0,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,0
3,A665644,NaN,2013-10-21 07:59:00,2013.0,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN,0
4,A682524,Rio,2014-06-29 10:38:00,2014.0,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,2022.0,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN,0
136760,A851977,*Jack,2022-02-22 13:34:00,2022.0,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN,0
136761,A852127,Sonic,2022-02-25 13:05:00,2022.0,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN,0
136762,A852194,Queen,2022-02-27 13:44:00,2022.0,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN,0
136763,A851755,T'Challa,2/28/2022 11:25:00 AM,NaN,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022,0

But we don't need that - let's drop that column.

In [94]:
# Drop that test column
animals.drop(columns = ['test'], inplace = True)

In [95]:
# Sanity check
animals

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear
0,A786884,*Brock,2019-01-03 16:19:00,2019.0,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN
1,A706918,Belle,2015-07-05 12:59:00,2015.0,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN
2,A724273,Runster,2016-04-14 18:43:00,2016.0,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN
3,A665644,NaN,2013-10-21 07:59:00,2013.0,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN
4,A682524,Rio,2014-06-29 10:38:00,2014.0,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,2022.0,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN
136760,A851977,*Jack,2022-02-22 13:34:00,2022.0,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN
136761,A852127,Sonic,2022-02-25 13:05:00,2022.0,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN
136762,A852194,Queen,2022-02-27 13:44:00,2022.0,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN
136763,A851755,T'Challa,2/28/2022 11:25:00 AM,NaN,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022

We can also do math with columns, or use mathematical notation to combine columns even when they aren't numerical!

We don't have any numeric data in this current dataset. But we can still create a combined "Type" column that combines the values of our Intake Type and Animal Type columns.

In [99]:
# Create a new column, 'Type', from the two 'Type' columns
animals['Type'] = animals['Intake Type'] + animals['Animal Type']

In [100]:
# Sanity check
animals

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,type,Type
0,A786884,*Brock,2019-01-03 16:19:00,2019.0,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN,StrayDog,StrayDog
1,A706918,Belle,2015-07-05 12:59:00,2015.0,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN,StrayDog,StrayDog
2,A724273,Runster,2016-04-14 18:43:00,2016.0,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,StrayDog,StrayDog
3,A665644,NaN,2013-10-21 07:59:00,2013.0,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN,StrayCat,StrayCat
4,A682524,Rio,2014-06-29 10:38:00,2014.0,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN,StrayDog,StrayDog
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,2022.0,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN,StrayDog,StrayDog
136760,A851977,*Jack,2022-02-22 13:34:00,2022.0,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN,StrayDog,StrayDog
136761,A852127,Sonic,2022-02-25 13:05:00,2022.0,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN,StrayDog,StrayDog
136762,A852194,Queen,2022-02-27 13:44:00,2022.0,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN,StrayDog,StrayDog
136763,A851755,T'Challa,2/28/2022 11:25:00 AM,NaN,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022,Public AssistCat,Public AssistCat

In [101]:
animals['Year Plus 5'] = animals['Year'] + 5

In [102]:
animals

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,type,Type,Year Plus 5
0,A786884,*Brock,2019-01-03 16:19:00,2019.0,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN,StrayDog,StrayDog,2024.0
1,A706918,Belle,2015-07-05 12:59:00,2015.0,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN,StrayDog,StrayDog,2020.0
2,A724273,Runster,2016-04-14 18:43:00,2016.0,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,StrayDog,StrayDog,2021.0
3,A665644,NaN,2013-10-21 07:59:00,2013.0,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN,StrayCat,StrayCat,2018.0
4,A682524,Rio,2014-06-29 10:38:00,2014.0,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN,StrayDog,StrayDog,2019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,2022.0,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN,StrayDog,StrayDog,2027.0
136760,A851977,*Jack,2022-02-22 13:34:00,2022.0,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN,StrayDog,StrayDog,2027.0
136761,A852127,Sonic,2022-02-25 13:05:00,2022.0,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN,StrayDog,StrayDog,2027.0
136762,A852194,Queen,2022-02-27 13:44:00,2022.0,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN,StrayDog,StrayDog,2027.0
136763,A851755,T'Challa,2/28/2022 11:25:00 AM,NaN,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022,Public AssistCat,Public AssistCat,NaN

### DateTime Data!

Useful reference: https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

I mentioned we don't have any numeric data in here... let's make a new numeric column! Specifically, let's grab the year from our `DateTime` column and use that to create a new `Year` column. AKA, let's learn how to deal with datetime data!

In [107]:
animals.dtypes

Animal ID                   object
Name                        object
DateTime                    object
Year                datetime64[ns]
Found Location              object
Intake Type                 object
Intake Condition            object
Animal Type                 object
Sex upon Intake             object
Age upon Intake             object
Breed                       object
Color                       object
MonthYear                   object
type                        object
Type                        object
Year Plus 5                float64
dtype: object

In [106]:
# What type is the DateTime column now?
animals['Year'] = pd.to_datetime(animals['Year'])

In [ ]:
# Let's make that a datetime datatype

In [ ]:
# Sanity check

In [109]:
# Now we can access parts of a datetime object using .dt - an attribute!
animals['Year'].dt.month

0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
         ...
136759    1.0
136760    1.0
136761    1.0
136762    1.0
136763    NaN
Name: Year, Length: 136764, dtype: float64

In [110]:
animals['Year'].dt.year

0         1970.0
1         1970.0
2         1970.0
3         1970.0
4         1970.0
           ...
136759    1970.0
136760    1970.0
136761    1970.0
136762    1970.0
136763       NaN
Name: Year, Length: 136764, dtype: float64

In [111]:
animals['Year'].dt.dayofweek

0         3.0
1         3.0
2         3.0
3         3.0
4         3.0
         ...
136759    3.0
136760    3.0
136761    3.0
136762    3.0
136763    NaN
Name: Year, Length: 136764, dtype: float64

In [113]:
animals['Year'].dt.day

0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
         ...
136759    1.0
136760    1.0
136761    1.0
136762    1.0
136763    NaN
Name: Year, Length: 136764, dtype: float64

In [114]:
# Make that into a new column
animals['Day of Week'] = animals['Year'].dt.dayofweek

In [115]:
# Sanity check
animals

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,type,Type,Year Plus 5,Day of Week
0,A786884,*Brock,2019-01-03 16:19:00,1970-01-01 00:00:00.000002019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN,StrayDog,StrayDog,2024.0,3.0
1,A706918,Belle,2015-07-05 12:59:00,1970-01-01 00:00:00.000002015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN,StrayDog,StrayDog,2020.0,3.0
2,A724273,Runster,2016-04-14 18:43:00,1970-01-01 00:00:00.000002016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,StrayDog,StrayDog,2021.0,3.0
3,A665644,NaN,2013-10-21 07:59:00,1970-01-01 00:00:00.000002013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN,StrayCat,StrayCat,2018.0,3.0
4,A682524,Rio,2014-06-29 10:38:00,1970-01-01 00:00:00.000002014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN,StrayDog,StrayDog,2019.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,1970-01-01 00:00:00.000002022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN,StrayDog,StrayDog,2027.0,3.0
136760,A851977,*Jack,2022-02-22 13:34:00,1970-01-01 00:00:00.000002022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN,StrayDog,StrayDog,2027.0,3.0
136761,A852127,Sonic,2022-02-25 13:05:00,1970-01-01 00:00:00.000002022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN,StrayDog,StrayDog,2027.0,3.0
136762,A852194,Queen,2022-02-27 13:44:00,1970-01-01 00:00:00.000002022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN,StrayDog,StrayDog,2027.0,3.0
136763,A851755,T'Challa,2/28/2022 11:25:00 AM,NaT,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022,Public AssistCat,Public AssistCat,NaN,NaN

In [123]:
animals['DateTime'] = pd.to_datetime(animals['DateTime'])

In [124]:
animals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136764 entries, 0 to 136763
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         136764 non-null  object
 1   Name              95773 non-null   object
 2   DateTime          136764 non-null  datetime64[ns]
 3   Year              136763 non-null  datetime64[ns]
 4   Found Location    136764 non-null  object
 5   Intake Type       136764 non-null  object
 6   Intake Condition  136764 non-null  object
 7   Animal Type       136764 non-null  object
 8   Sex upon Intake   136763 non-null  object
 9   Age upon Intake   136764 non-null  object
 10  Breed             136764 non-null  object
 11  Color             136764 non-null  object
 12  MonthYear         1 non-null       object
 13  type              136764 non-null  object
 14  Type              136764 non-null  object
 15  Year Plus 5       136763 non-null  float64
 16  Day of Week       136763 non-null  float64
 17  Intake Year       136764 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(2), object(13)
memory usage: 18.8+ MB

# Filtering

We can use filtering techniques to see only certain rows of our data. Let's look at only animals taken into the center during or after 2020:

In [125]:
animals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136764 entries, 0 to 136763
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         136764 non-null  object
 1   Name              95773 non-null   object
 2   DateTime          136764 non-null  datetime64[ns]
 3   Year              136763 non-null  datetime64[ns]
 4   Found Location    136764 non-null  object
 5   Intake Type       136764 non-null  object
 6   Intake Condition  136764 non-null  object
 7   Animal Type       136764 non-null  object
 8   Sex upon Intake   136763 non-null  object
 9   Age upon Intake   136764 non-null  object
 10  Breed             136764 non-null  object
 11  Color             136764 non-null  object
 12  MonthYear         1 non-null       object
 13  type              136764 non-null  object
 14  Type              136764 non-null  object
 15  Year Plus 5       136763 non-null  float64
 16  Day of Week       136763 non-null  float64
 17  Intake Year       136764 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(2), object(13)
memory usage: 18.8+ MB

In [127]:
animals['Year'] = animals['DateTime'].dt.year

In [128]:
animals

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,type,Type,Year Plus 5,Day of Week,Intake Year
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN,StrayDog,StrayDog,2024.0,3.0,2019-01-03 16:19:00
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN,StrayDog,StrayDog,2020.0,3.0,2015-07-05 12:59:00
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,StrayDog,StrayDog,2021.0,3.0,2016-04-14 18:43:00
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN,StrayCat,StrayCat,2018.0,3.0,2013-10-21 07:59:00
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN,StrayDog,StrayDog,2019.0,3.0,2014-06-29 10:38:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN,StrayDog,StrayDog,2027.0,3.0,2022-02-28 11:05:00
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN,StrayDog,StrayDog,2027.0,3.0,2022-02-22 13:34:00
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN,StrayDog,StrayDog,2027.0,3.0,2022-02-25 13:05:00
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN,StrayDog,StrayDog,2027.0,3.0,2022-02-27 13:44:00
136763,A851755,T'Challa,2022-02-28 11:25:00,2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022,Public AssistCat,Public AssistCat,NaN,NaN,2022-02-28 11:25:00

In [133]:
# Check which rows have an intake year greater than or equal to 2020
animals.loc[animals['Year'] >= 2020]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,type,Type,Year Plus 5,Day of Week,Intake Year
7,A844350,*Ella,2021-10-15 11:40:00,2021,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby,NaN,StrayCat,StrayCat,2026.0,3.0,2021-10-15 11:40:00
9,A818975,NaN,2020-06-18 14:53:00,2020,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby,NaN,StrayCat,StrayCat,2025.0,3.0,2020-06-18 14:53:00
22,A831808,NaN,2021-04-02 11:16:00,2021,Austin (TX),Owner Surrender,Normal,Cat,Intact Female,1 month,Domestic Shorthair Mix,Tortie,NaN,Owner SurrenderCat,Owner SurrenderCat,2026.0,3.0,2021-04-02 11:16:00
24,A836850,NaN,2021-06-15 12:37:00,2021,6111 Softwood Drive in Austin (TX),Public Assist,Pregnant,Dog,Intact Female,4 years,Pit Bull,Blue/White,NaN,Public AssistDog,Public AssistDog,2026.0,3.0,2021-06-15 12:37:00
26,A815227,Baby,2020-03-12 13:52:00,2020,12305 Zeller Lane in Austin (TX),Stray,Normal,Dog,Intact Female,1 month,Norfolk Terrier,Brown/Cream,NaN,StrayDog,StrayDog,2025.0,3.0,2020-03-12 13:52:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN,StrayDog,StrayDog,2027.0,3.0,2022-02-28 11:05:00
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN,StrayDog,StrayDog,2027.0,3.0,2022-02-22 13:34:00
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN,StrayDog,StrayDog,2027.0,3.0,2022-02-25 13:05:00
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN,StrayDog,StrayDog,2027.0,3.0,2022-02-27 13:44:00
136763,A851755,T'Challa,2022-02-28 11:25:00,2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022,Public AssistCat,Public AssistCat,NaN,NaN,2022-02-28 11:25:00

In [135]:
animals.loc[animals['Intake Type'] == 'Stray']

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,type,Type,Year Plus 5,Day of Week,Intake Year
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN,StrayDog,StrayDog,2024.0,3.0,2019-01-03 16:19:00
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN,StrayDog,StrayDog,2020.0,3.0,2015-07-05 12:59:00
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,StrayDog,StrayDog,2021.0,3.0,2016-04-14 18:43:00
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN,StrayCat,StrayCat,2018.0,3.0,2013-10-21 07:59:00
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,NaN,StrayDog,StrayDog,2019.0,3.0,2014-06-29 10:38:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136758,A852238,A852238,2022-02-28 14:02:00,2022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix,Black/White,NaN,StrayDog,StrayDog,2027.0,3.0,2022-02-28 14:02:00
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN,StrayDog,StrayDog,2027.0,3.0,2022-02-28 11:05:00
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN,StrayDog,StrayDog,2027.0,3.0,2022-02-22 13:34:00
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN,StrayDog,StrayDog,2027.0,3.0,2022-02-25 13:05:00
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN,StrayDog,StrayDog,2027.0,3.0,2022-02-27 13:44:00

In [142]:
animals[animals['Year'] == 2020]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,type,Type,Year Plus 5,Day of Week,Intake Year
9,A818975,NaN,2020-06-18 14:53:00,2020,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby,NaN,StrayCat,StrayCat,2025.0,3.0,2020-06-18 14:53:00
26,A815227,Baby,2020-03-12 13:52:00,2020,12305 Zeller Lane in Austin (TX),Stray,Normal,Dog,Intact Female,1 month,Norfolk Terrier,Brown/Cream,NaN,StrayDog,StrayDog,2025.0,3.0,2020-03-12 13:52:00
44,A821389,*Dim Sum,2020-08-10 14:10:00,2020,7800 San Felipe Boulevard in Austin (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Brown Tabby,NaN,StrayCat,StrayCat,2025.0,3.0,2020-08-10 14:10:00
47,A812244,NaN,2020-01-18 14:14:00,2020,Travis (TX),Owner Surrender,Normal,Dog,Intact Male,1 month,Labrador Retriever,Tan,NaN,Owner SurrenderDog,Owner SurrenderDog,2025.0,3.0,2020-01-18 14:14:00
71,A813757,NaN,2020-02-18 12:26:00,2020,Colonial Park And Weidemar in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,German Shepherd/Australian Cattle Dog,Black/Tricolor,NaN,StrayDog,StrayDog,2025.0,3.0,2020-02-18 12:26:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136355,A814134,C'Lo,2020-04-13 19:27:00,2020,Little Pebble in Austin (TX),Stray,Injured,Dog,Neutered Male,1 year,Pit Bull Mix,White/Black,NaN,StrayDog,StrayDog,2025.0,3.0,2020-04-13 19:27:00
136358,A814134,C'Lo,2020-02-24 18:15:00,2020,10409 Little Pebble in Austin (TX),Abandoned,Normal,Dog,Intact Male,1 year,Pit Bull Mix,White/Black,NaN,AbandonedDog,AbandonedDog,2025.0,3.0,2020-02-24 18:15:00
136359,A814134,C'Lo,2020-06-10 18:27:00,2020,Pflugerville (TX),Owner Surrender,Normal,Dog,Neutered Male,1 year,Pit Bull Mix,White/Black,NaN,Owner SurrenderDog,Owner SurrenderDog,2025.0,3.0,2020-06-10 18:27:00
136361,A814134,C'Lo,2020-03-30 08:31:00,2020,Austin (TX),Abandoned,Normal,Dog,Neutered Male,1 year,Pit Bull Mix,White/Black,NaN,AbandonedDog,AbandonedDog,2025.0,3.0,2020-03-30 08:31:00
136541,A823070,Luna,2020-09-15 14:47:00,2020,Austin (TX),Owner Surrender,Normal,Cat,Intact Female,1 year,Domestic Shorthair,Blue/White,NaN,Owner SurrenderCat,Owner SurrenderCat,2025.0,3.0,2020-09-15 14:47:00

In [145]:
animals.loc[animals['Year'] >= 2020, 'Animal ID'].nunique()

21700

In [146]:
animals[animals['Year'] == 2020].shape

(9585, 18)

In [ ]:
#df.loc[rows,columns]
#df.iloc[row,columns]

#df.loc[row selector, column selector]

In [ ]:
# Let's explore an interesting property of boolean columns...
# Find out the total sum of animals taken in during or after 2020

But this only gives us True/False outputs... what if we want to really filter?

## `.loc`

We can locate and segment down to only rows where some condition is true using `.loc`. This takes in a condition, and only outputs the rows where that condition is True! 

> **Note:** locate (`.loc`) uses square brackets, not parentheses! Often, square brackets denote location-focused actions, like this one.

Let's try this first with the condition we just built, and locate all animals taken in during or after 2020.

In [158]:
# Create a subset dataframe of animals taken in during or after 2020
new_animals_animal_type = animals.loc[animals['Year'] >= 2020, 'Animal Type']
new_animals_animal_type

7         Cat
9         Cat
22        Cat
24        Dog
26        Dog
         ...
136759    Dog
136760    Dog
136761    Dog
136762    Dog
136763    Cat
Name: Animal Type, Length: 23270, dtype: object

In [160]:
animals.loc[animals['Year'] >= 2020][['Name', 'Animal ID', 'Animal Type']]

            Name Animal ID Animal Type
7          *Ella   A844350         Cat
9            NaN   A818975         Cat
22           NaN   A831808         Cat
24           NaN   A836850         Dog
26          Baby   A815227         Dog
...          ...       ...         ...
136759      Coco   A852221         Dog
136760     *Jack   A851977         Dog
136761     Sonic   A852127         Dog
136762     Queen   A852194         Dog
136763  T'Challa   A851755         Cat

[23270 rows x 3 columns]

In [156]:
new_animals = animals.loc[animals['Year'] >= 2020]

In [157]:
# Sanity check
new_animals

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,type,Type,Year Plus 5,Day of Week,Intake Year
7,A844350,*Ella,2021-10-15 11:40:00,2021,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby,NaN,StrayCat,StrayCat,2026.0,3.0,2021-10-15 11:40:00
9,A818975,NaN,2020-06-18 14:53:00,2020,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby,NaN,StrayCat,StrayCat,2025.0,3.0,2020-06-18 14:53:00
22,A831808,NaN,2021-04-02 11:16:00,2021,Austin (TX),Owner Surrender,Normal,Cat,Intact Female,1 month,Domestic Shorthair Mix,Tortie,NaN,Owner SurrenderCat,Owner SurrenderCat,2026.0,3.0,2021-04-02 11:16:00
24,A836850,NaN,2021-06-15 12:37:00,2021,6111 Softwood Drive in Austin (TX),Public Assist,Pregnant,Dog,Intact Female,4 years,Pit Bull,Blue/White,NaN,Public AssistDog,Public AssistDog,2026.0,3.0,2021-06-15 12:37:00
26,A815227,Baby,2020-03-12 13:52:00,2020,12305 Zeller Lane in Austin (TX),Stray,Normal,Dog,Intact Female,1 month,Norfolk Terrier,Brown/Cream,NaN,StrayDog,StrayDog,2025.0,3.0,2020-03-12 13:52:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN,StrayDog,StrayDog,2027.0,3.0,2022-02-28 11:05:00
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN,StrayDog,StrayDog,2027.0,3.0,2022-02-22 13:34:00
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN,StrayDog,StrayDog,2027.0,3.0,2022-02-25 13:05:00
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN,StrayDog,StrayDog,2027.0,3.0,2022-02-27 13:44:00
136763,A851755,T'Challa,2022-02-28 11:25:00,2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022,Public AssistCat,Public AssistCat,NaN,NaN,2022-02-28 11:25:00

We can return only certain columns when we do this, by adding an argument after the condition:

In [ ]:
# Let's return just the 'Animal ID', 'DateTime' and 'Type' columns

What if I want to segment using multiple conditions? Use `&` for "and" and `|` for "or" - and use parentheses around individual conditions!

In [167]:
animals.loc[(animals['Animal Type'] == 'Stray') & (animals['Year'] >= 2020)]

Empty DataFrame
Columns: [Animal ID, Name, DateTime, Year, Found Location, Intake Type, Intake Condition, Animal Type, Sex upon Intake, Age upon Intake, Breed, Color, MonthYear, type, Type, Year Plus 5, Day of Week, Intake Year]
Index: []

In [165]:
# Find all the Stray Cats taken in during or after 2020
animals.loc(animals['Year'] >= 2020][['Animal Type','Intake Type']]

       Animal Type      Intake Type
7              Cat            Stray
9              Cat            Stray
22             Cat  Owner Surrender
24             Dog    Public Assist
26             Dog            Stray
...            ...              ...
136759         Dog            Stray
136760         Dog            Stray
136761         Dog            Stray
136762         Dog            Stray
136763         Cat    Public Assist

[23270 rows x 2 columns]

### Your turn!

#### Exercise 1

You need to find dogs that need extra attention - How would you find all dogs where the intake condition is NOT normal?

In [168]:
animals.loc[animals['Intake Condition'] != 'Normal']

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,type,Type,Year Plus 5,Day of Week,Intake Year
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN,StrayCat,StrayCat,2018.0,3.0,2013-10-21 07:59:00
10,A774147,NaN,2018-06-11 07:45:00,2018,6600 Elm Creek in Austin (TX),Stray,Injured,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Black/White,NaN,StrayCat,StrayCat,2023.0,3.0,2018-06-11 07:45:00
16,A743114,NaN,2017-02-04 10:10:00,2017,208 Beaver St in Austin (TX),Stray,Injured,Cat,Intact Female,2 years,Domestic Shorthair Mix,Black/White,NaN,StrayCat,StrayCat,2022.0,3.0,2017-02-04 10:10:00
24,A836850,NaN,2021-06-15 12:37:00,2021,6111 Softwood Drive in Austin (TX),Public Assist,Pregnant,Dog,Intact Female,4 years,Pit Bull,Blue/White,NaN,Public AssistDog,Public AssistDog,2026.0,3.0,2021-06-15 12:37:00
38,A794334,Pearl,2019-09-02 11:52:00,2019,Outside Jurisdiction,Owner Surrender,Sick,Dog,Spayed Female,3 years,Boxer Mix,White,NaN,Owner SurrenderDog,Owner SurrenderDog,2024.0,3.0,2019-09-02 11:52:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136728,A852084,*Maple Syrup,2022-02-24 13:29:00,2022,6911 Bennett Ave in Austin (TX),Stray,Injured,Dog,Intact Female,2 months,Labrador Retriever Mix,Black/White,NaN,StrayDog,StrayDog,2027.0,3.0,2022-02-24 13:29:00
136730,A852207,NaN,2022-02-28 07:16:00,2022,4434 Frontier Trail in Austin (TX),Owner Surrender,Sick,Cat,Intact Male,2 weeks,Domestic Shorthair,Brown Tabby,NaN,Owner SurrenderCat,Owner SurrenderCat,2027.0,3.0,2022-02-28 07:16:00
136733,A852038,*Minkus,2022-02-23 15:01:00,2022,3403 E 5Th St in Austin (TX),Stray,Injured,Cat,Neutered Male,11 months,Domestic Shorthair,Black,NaN,StrayCat,StrayCat,2027.0,3.0,2022-02-23 15:01:00
136742,A850725,Monty,2022-01-30 14:32:00,2022,14100 Thermal Dr in Austin (TX),Stray,Injured,Dog,Intact Male,2 years,Labrador Retriever,Black/White,NaN,StrayDog,StrayDog,2027.0,3.0,2022-01-30 14:32:00
136754,A852234,NaN,2022-02-28 12:33:00,2022,305 E Lola Lane in Austin (TX),Stray,Injured,Cat,Intact Female,2 years,Domestic Shorthair,Calico,NaN,StrayCat,StrayCat,2027.0,3.0,2022-02-28 12:33:00

#### Exercise 2

You need to find animals that might need to be fixed - How would you find all animals that are either Intact Male or Intact Female?

In [172]:
animals.loc[(animals['Sex upon Intake'] == 'Intact Female') | (animals['Sex upon Intake'] == 'Intact Male')]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,type,Type,Year Plus 5,Day of Week,Intake Year
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,StrayDog,StrayDog,2021.0,3.0,2016-04-14 18:43:00
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,NaN,StrayCat,StrayCat,2018.0,3.0,2013-10-21 07:59:00
7,A844350,*Ella,2021-10-15 11:40:00,2021,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby,NaN,StrayCat,StrayCat,2026.0,3.0,2021-10-15 11:40:00
8,A708452,Mumble,2015-07-30 14:37:00,2015,Austin (TX),Public Assist,Normal,Dog,Intact Male,2 years,Labrador Retriever Mix,Black/White,NaN,Public AssistDog,Public AssistDog,2020.0,3.0,2015-07-30 14:37:00
9,A818975,NaN,2020-06-18 14:53:00,2020,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby,NaN,StrayCat,StrayCat,2025.0,3.0,2020-06-18 14:53:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136758,A852238,A852238,2022-02-28 14:02:00,2022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix,Black/White,NaN,StrayDog,StrayDog,2027.0,3.0,2022-02-28 14:02:00
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,NaN,StrayDog,StrayDog,2027.0,3.0,2022-02-28 11:05:00
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,NaN,StrayDog,StrayDog,2027.0,3.0,2022-02-22 13:34:00
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,NaN,StrayDog,StrayDog,2027.0,3.0,2022-02-25 13:05:00
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,NaN,StrayDog,StrayDog,2027.0,3.0,2022-02-27 13:44:00

## `.iloc`

`.iloc` is used for integer-location based indexing, aka locate by number. It can take in lists of numbers, python slices, or specific numbers - but sometimes it can be a bit tricky!

In [175]:
# Find the first 3 rows
animals.iloc[10:60,15:18]

    Year Plus 5  Day of Week         Intake Year
10       2023.0          3.0 2018-06-11 07:45:00
11       2021.0          3.0 2016-08-08 17:52:00
12       2022.0          3.0 2017-10-11 15:46:00
13       2020.0          3.0 2015-07-11 18:19:00
14       2020.0          3.0 2015-02-04 12:58:00
15       2024.0          3.0 2019-03-06 14:31:00
16       2022.0          3.0 2017-02-04 10:10:00
17       2018.0          3.0 2013-11-10 17:19:00
18       2023.0          3.0 2018-11-07 15:53:00
19       2020.0          3.0 2015-07-15 17:43:00
20       2021.0          3.0 2016-10-08 11:53:00
21       2020.0          3.0 2015-03-04 11:22:00
22       2026.0          3.0 2021-04-02 11:16:00
23       2020.0          3.0 2015-09-06 14:21:00
24       2026.0          3.0 2021-06-15 12:37:00
25       2024.0          3.0 2019-07-29 17:19:00
26       2025.0          3.0 2020-03-12 13:52:00
27       2024.0          3.0 2019-12-25 00:05:00
28       2023.0          3.0 2018-04-09 19:03:00
29       2020.0          3.0 2015-07-20 18:13:00
30       2019.0          3.0 2014-06-25 16:27:00
31       2026.0          3.0 2021-03-19 15:40:00
32       2022.0          3.0 2017-05-15 09:50:00
33       2021.0          3.0 2016-03-24 16:39:00
34       2024.0          3.0 2019-09-05 12:00:00
35       2020.0          3.0 2015-02-12 11:57:00
36       2022.0          3.0 2017-10-09 22:39:00
37       2018.0          3.0 2013-11-08 15:24:00
38       2024.0          3.0 2019-09-02 11:52:00
39       2020.0          3.0 2015-06-29 17:04:00
40       2021.0          3.0 2016-08-14 15:02:00
41       2024.0          3.0 2019-02-23 11:22:00
42       2022.0          3.0 2017-05-14 14:19:00
43       2021.0          3.0 2016-05-26 14:01:00
44       2025.0          3.0 2020-08-10 14:10:00
45       2023.0          3.0 2018-04-10 16:46:00
46       2020.0          3.0 2015-05-05 07:29:00
47       2025.0          3.0 2020-01-18 14:14:00
48       2020.0          3.0 2015-12-07 09:11:00
49       2021.0          3.0 2016-04-16 13:36:00
50       2020.0          3.0 2015-05-16 18:38:00
51       2022.0          3.0 2017-10-11 11:48:00
52       2020.0          3.0 2015-05-19 13:23:00
53       2022.0          3.0 2017-03-13 12:50:00
54       2022.0          3.0 2017-04-25 12:02:00
55       2024.0          3.0 2019-01-07 13:41:00
56       2021.0          3.0 2016-10-11 16:43:00
57       2022.0          3.0 2017-07-29 11:49:00
58       2020.0          3.0 2015-03-30 15:23:00
59       2024.0          3.0 2019-12-21 11:09:00

In [177]:
animals.iloc[0:3,:]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,type,Type,Year Plus 5,Day of Week,Intake Year
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN,StrayDog,StrayDog,2024.0,3.0,2019-01-03 16:19:00
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN,StrayDog,StrayDog,2020.0,3.0,2015-07-05 12:59:00
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,StrayDog,StrayDog,2021.0,3.0,2016-04-14 18:43:00

In [178]:
# Can look exactly where the 0 index is
new_animals.iloc[0,:]

Animal ID                                                 A844350
Name                                                        *Ella
DateTime                                      2021-10-15 11:40:00
Year                                                         2021
Found Location      2112 East William Cannon Drive in Austin (TX)
Intake Type                                                 Stray
Intake Condition                                           Normal
Animal Type                                                   Cat
Sex upon Intake                                     Intact Female
Age upon Intake                                          6 months
Breed                                          Domestic Shorthair
Color                                                 Brown Tabby
MonthYear                                                     NaN
type                                                     StrayCat
Type                                                     StrayCat
Year Plus 5                                                  2026
Day of Week                                                     3
Intake Year                                   2021-10-15 11:40:00
Name: 7, dtype: object

In [183]:
animals.head(3)

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,type,Type,Year Plus 5,Day of Week,Intake Year
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN,StrayDog,StrayDog,2024.0,3.0,2019-01-03 16:19:00
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,NaN,StrayDog,StrayDog,2020.0,3.0,2015-07-05 12:59:00
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,NaN,StrayDog,StrayDog,2021.0,3.0,2016-04-14 18:43:00

In [185]:
animals.head(1)

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,type,Type,Year Plus 5,Day of Week,Intake Year
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,NaN,StrayDog,StrayDog,2024.0,3.0,2019-01-03 16:19:00

In [182]:
new_animals.head(1)

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,type,Type,Year Plus 5,Day of Week,Intake Year
7,A844350,*Ella,2021-10-15 11:40:00,2021,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby,NaN,StrayCat,StrayCat,2026.0,3.0,2021-10-15 11:40:00

# Series Methods

## `.value_counts()`

How many different values does the Animal Type column have? What about Breed?

In [188]:
# Check the value counts for Animal Type
animals['Animal Type'].value_counts()

Dog          77098
Cat          51753
Other         7253
Bird           636
Livestock       24
Name: Animal Type, dtype: int64

In [189]:
animals['Year'].value_counts()

2019    19727
2015    18712
2014    18656
2016    17675
2017    17563
2018    16979
2021    12042
2020     9585
2013     4182
2022     1643
Name: Year, dtype: int64

In [190]:
# Now check Breed
animals['Breed'].value_counts()

Domestic Shorthair Mix               32034
Domestic Shorthair                   10441
Pit Bull Mix                          8913
Labrador Retriever Mix                7370
Chihuahua Shorthair Mix               6486
                                     ...
Black                                    1
Smooth Fox Terrier/French Bulldog        1
Australian Shepherd/Beagle               1
Whippet/Whippet                          1
Whimbrel Mix                             1
Name: Breed, Length: 2734, dtype: int64

Sometimes, this is more useful than others... but, can check the percentage of the total, which might be more useful!

In [194]:
# Use the normalize argument to view as percentages
animals.loc[animals['Animal Type'] == 'Cat']['Breed'].value_counts(normalize = True)

Domestic Shorthair Mix             0.618979
Domestic Shorthair                 0.201747
Domestic Medium Hair Mix           0.062122
Domestic Longhair Mix              0.030530
Siamese Mix                        0.025989
                                     ...
Ocicat Mix                         0.000019
Siamese/Angora                     0.000019
Turkish Angora                     0.000019
American Curl Shorthair/Siamese    0.000019
Balinese                           0.000019
Name: Breed, Length: 103, dtype: float64

In [195]:
df['target'].value_counts(normalize = True)

1    0.544554
0    0.455446
Name: target, dtype: float64

## `.sort_values()`

As you can imagine, this works differently whether you're using it on a numeric or non-numeric column

In [198]:
# Let's sort the year column
animals['Year'].sort_values(ascending = False)

136763    2022
135566    2022
135553    2022
135554    2022
135555    2022
          ...
118202    2013
82804     2013
74446     2013
31112     2013
13061     2013
Name: Year, Length: 136764, dtype: int64

In [199]:
animals.sort_values(by = 'Year', ascending = False)

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,type,Type,Year Plus 5,Day of Week,Intake Year
136763,A851755,T'Challa,2022-02-28 11:25:00,2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,February 2022,Public AssistCat,Public AssistCat,NaN,NaN,2022-02-28 11:25:00
135598,A850355,*Sox,2022-01-22 13:24:00,2022,7517 Cameron Road in Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Pit Bull,Tan/White,NaN,StrayDog,StrayDog,2027.0,3.0,2022-01-22 13:24:00
135600,A850150,French Toast,2022-01-19 11:59:00,2022,Manor (TX),Owner Surrender,Normal,Dog,Intact Male,5 months,Labrador Retriever Mix,White/Tan,NaN,Owner SurrenderDog,Owner SurrenderDog,2027.0,3.0,2022-01-19 11:59:00
135601,A850150,French Toast,2022-01-26 12:42:00,2022,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,5 months,Labrador Retriever Mix,White/Tan,NaN,Owner SurrenderDog,Owner SurrenderDog,2027.0,3.0,2022-01-26 12:42:00
135603,A850485,Rocco,2022-01-25 12:50:00,2022,7201 Levander Loop in Austin (TX),Stray,Normal,Dog,Intact Male,8 months,Australian Shepherd Mix,Black/Brown,NaN,StrayDog,StrayDog,2027.0,3.0,2022-01-25 12:50:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114540,A668192,NaN,2013-11-29 12:47:00,2013,Long Vista And Bratton in Austin (TX),Stray,Normal,Dog,Intact Female,2 years,Picardy Sheepdog,Tan/White,NaN,StrayDog,StrayDog,2018.0,3.0,2013-11-29 12:47:00
7568,A666609,Peewee,2013-11-04 13:51:00,2013,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,6 years,Domestic Shorthair Mix,Blue,NaN,Owner SurrenderCat,Owner SurrenderCat,2018.0,3.0,2013-11-04 13:51:00
6328,A667157,Jason,2013-11-13 14:52:00,2013,Pflugerville (TX),Owner Surrender,Normal,Cat,Intact Male,3 months,Domestic Medium Hair Mix,Cream Tabby/White,NaN,Owner SurrenderCat,Owner SurrenderCat,2018.0,3.0,2013-11-13 14:52:00
114531,A666725,NaN,2013-11-06 12:55:00,2013,13021 Dessau Rd in Austin (TX),Stray,Normal,Dog,Intact Male,2 months,Pointer/Anatol Shepherd,White/Brown,NaN,StrayDog,StrayDog,2018.0,3.0,2013-11-06 12:55:00
96175,A665567,Baby,2013-10-19 12:57:00,2013,7201 Levander Loop in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Chihuahua Shorthair Mix,Chocolate/White,NaN,StrayDog,StrayDog,2018.0,3.0,2013-10-19 12:57:00

In [200]:
# Now, sort the Animal Type col
animals.sort_values(by = 'Animal Type', ascending = False)

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,MonthYear,type,Type,Year Plus 5,Day of Week,Intake Year
84730,A721703,NaN,2016-03-02 15:25:00,2016,5901 Southwest Pkwy in Austin (TX),Wildlife,Normal,Other,Unknown,1 year,Bat Mix,Brown,NaN,WildlifeOther,WildlifeOther,2021.0,3.0,2016-03-02 15:25:00
19665,A814692,NaN,2020-03-03 22:54:00,2020,3351 Killingsworth Ln in Pflugerville (TX),Wildlife,Injured,Other,Unknown,1 year,Bat,Brown,NaN,WildlifeOther,WildlifeOther,2025.0,3.0,2020-03-03 22:54:00
8211,A678622,NaN,2014-05-10 18:55:00,2014,Riverside And Grove in Austin (TX),Stray,Injured,Other,Unknown,1 year,Rabbit Sh Mix,Gray/White,NaN,StrayOther,StrayOther,2019.0,3.0,2014-05-10 18:55:00
77281,A840507,*Siouxsie Sioux,2021-08-09 16:03:00,2021,Austin (TX),Owner Surrender,Normal,Other,Intact Female,5 months,Mouse,White/Black,NaN,Owner SurrenderOther,Owner SurrenderOther,2026.0,3.0,2021-08-09 16:03:00
8217,A749933,NaN,2017-05-21 14:46:00,2017,11500 Jollyville Rd in Austin (TX),Wildlife,Injured,Other,Unknown,1 year,Fox,Brown/White,NaN,WildlifeOther,WildlifeOther,2022.0,3.0,2017-05-21 14:46:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75600,A757067,NaN,2017-08-29 14:56:00,2017,7201 Levander Loop in Austin (TX),Wildlife,Injured,Bird,Unknown,2 years,Grackle Mix,Black,NaN,WildlifeBird,WildlifeBird,2022.0,3.0,2017-08-29 14:56:00
68935,A839271,NaN,2021-07-19 15:05:00,2021,Highway 183 And Smith Road in Austin (TX),Stray,Normal,Bird,Intact Female,1 year,Chicken,Brown,NaN,StrayBird,StrayBird,2026.0,3.0,2021-07-19 15:05:00
5478,A770409,NaN,2018-04-19 13:59:00,2018,8800 S 1St St in Austin (TX),Wildlife,Injured,Bird,Unknown,2 years,Vulture Mix,Brown,NaN,WildlifeBird,WildlifeBird,2023.0,3.0,2018-04-19 13:59:00
66611,A715668,NaN,2015-11-07 17:14:00,2015,830 Bastrop Hwy in Austin (TX),Wildlife,Injured,Bird,Unknown,2 years,Pigeon Mix,Gray,NaN,WildlifeBird,WildlifeBird,2020.0,3.0,2015-11-07 17:14:00
6992,A779661,NaN,2018-09-04 13:02:00,2018,107 E Brenham St in Manor (TX),Public Assist,Normal,Bird,Intact Male,1 year,Chicken,Red/Black,NaN,Public AssistBird,Public AssistBird,2023.0,3.0,2018-09-04 13:02:00

# Extra Credit: Find a .csv file online and experiment with it.

Head to [dataportals.org](https://dataportals.org) to find a .csv file.